.App {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.counter-container {
  display: flex;
  flex: 1; 
}

.team1-counter {
  background-color: yellow;
  flex: 1; 
  padding: 20px;
}

.team2-counter {
  background-color: black;
  color: white;
  flex: 1;
  padding: 20px;
}